{:source-paths ["src"]
 :dependencies [[replicant "1.5.0"]]
 :dev-http {8080 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn app.core/init!}}
   :devtools {:after-load app.core/reload!}}}}
